<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Chekwasy Buildex</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css" />
    <link rel='shortcut icon' href="../static/images/icon.jpeg" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </head>

  <body>
    <header title="Chekwasy Buildex">
      <div></div>
      <h1>Chekwasy Buildex</h1>
    </header>
    <div class="container">
      <div class="buildex">
	<div class="buildex_details">
	  <div class="buildex_pic"></div>
	  <h5>Chekwasy Buildex</h5>
	  <p>Make your request based on your proposed building</p>
	  <p>or select from our options.</p>
	  <p>Building range from flats, duplex, complex,</p>
	  <p>to a good number of construction projects</p>
	  <p class="buildex_here">Click here to make an enquiry</p>
	</div>
	<form id="chekwasy_farm_form" method="post">
	  <h5>Fill in your information to place your order</h5>
	  <h6>Account Number: 1224611018</h6>
	  <h6>Account Name: Chekwasy Farm</h6>
	  <h6>Bank Name: Zenith Bank</h6></h6>
<div class="form_note"><p>Note: minimum order is 5 packs. <strong>5packs N25,000, 10packs N40,000</strong> If name of sender is different from name entered here, enter your name as reference</p></div>
<div class="form_details">
  <p>First name<p><input type="text" id="first_name" maxlength="40" placeholder="Richard" required></p></p>
  <p>Last name<p><input type="text" id="last_name" maxlength="40" placeholder="Chekwas" required></p></p>
  <p>Phone number<p><input type="tel" id="phone" maxlength="11" placeholder="08xxxxxxxx5" required></p></p>
  <p>Email<p><input type="email" id="email" maxlength="100" placeholder="abc@chekwasy.tech" required></p></p>
  <p>Reference<p><input type="text" id="reference" maxlength="80" placeholder="Wisdom Paul" required></p></p>
  <p>State<p><input type="text" id="state" maxlength="30" placeholder="Lagos" required></p></p>
  <p>City (Eg. Surulere)<p><input type="text" maxlength="30" id="city" placeholder="Surulere" required></p></p>
  <p>Street<p><input type="text" maxlength="100" id="street"></p></p>
  <p>Order Quantity<p><input type="number" min="5" max="100" id="order_qty" placeholder="10" required></p></p>
  <p><button type="submit">Order</button><input type="reset" id="rst"></p>
</div>
            </form>
      </div>
      <div class="buildex_all">
	<div class="buildex_all_pic1"></div>
	<div class="buildex_all_pic2"></div>
	<div class="buildex_all_pic3"></div>
	<div class="buildex_all_pic4"></div>
	<div class="buildex_all_pic5"></div>
	<div class="buildex_all_pic6"></div>
	<div class="buildex_all_pic7"></div>
	<div class="buildex_all_pic8"></div>
	<div class="buildex_all_pic9"></div>
      </div>
    </div>
    <footer>
      <p>Phone: 08168732525</p>
      <p>Email: chekwasybuildex@gmail.com</p>
      <p>Copyright © 2023 Chekwasy All rights reserved</p>
    </footer>
    <script type="text/javascript" src="../static/scripts/chekwasy_buildex_script.js"></script>
  </body>

  </html>
