<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Annie's Couture</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css" />
    <link rel='shortcut icon' href="../static/images/annie_pic_icon.jpeg" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </head>

  <body>
    <header class="Annie">
      <div></div>
      <h1>Annie's Couture</h1>
    </header>
    <div class="container">
      <div class="annie">
	<div class="annie_details">
	  <div class="annie_pic"></div>
	  <h5>Annie's Couture</h5>
	  <p>A great brand with unique quality and cash friendly</p>
	  <p>Check out our various categories of wears</p>
	  <p>already made for customers and also trending</p>
	  <p>styles you could rock</p>
	</div>
	<form action="http://" + window.location.hostname + "/api/v1/annie_couture/order" id="chekwasy_annie_form" method="post">
	  <h5>Place an order by filling the details below</h5>
	  <h6>Account Number: 1224611018</h6>
	  <h6>Account Name: Chekwasy Farm</h6>
	  <h6>Bank Name: Zenith Bank</h6></h6>
<div class="form_note"><p>Note: Minimum of half payment before processing</p></div>
<div class="form_details">
  <p>First name<p><input type="text" name="first_name" maxlength="40" required placeholder="Annie"></p></p>
  <p>Last name<p><input type="text" name="last_name" maxlength="40" required placeholder="Chek"></p></p>
  <p>Enter choice reference<p><input type="text" name="choice" maxlength="5" required placeholder="T01"></p></p>
  <p>Phone number<p><input type="tel" name="phone" maxlength="11" required placeholder="08xxxxxxxx4"></p></p>
  <p>Email<p><input type="email" name="email" maxlength="100" required placeholder="abc@chekwasy.tech"></p></p>
  <p>State<p><input type="text" name="state" maxlength="30" required placeholder="Imo"></p></p>
  <p>City (Eg. Surulere)<p><input type="text" name="city" maxlength="30" required placeholder="Owerri"></p></p>
  <p>Street<p><input type="text" name="street" maxlength="200" required></p></p>
  <p>Link to cloth choice<p><input type="url" name="link" placeholder="optional"></p></p>
  <p><p><textarea name="others" cols="30" rows="5" placeholder="Add cloth measurement"></textarea></p></p>
  <p><button type="submit">Order</button></p>
</div>
</form>
</div>
<div class="annie_wears">
  <div>
    <h4>Trending Styles</h4>
    <div class="t_all_pic1"><p>T01</p></div>
    <div class="t_all_pic2"><p>T02</p></div>
    <div class="t_all_pic3"><p>T03</p></div>
    <div class="t_all_pic4"><p>T04</p></div>
    <div class="t_all_pic5"><p>T05</p></div>
    <div class="t_all_pic6"><p>T06</p></div>
    <div class="t_all_pic7"><p>T07</p></div>
    <div class="t_all_pic8"><p>T08</p></div>
    <div class="t_all_pic9"><p>T09</p></div>
    <div class="t_all_pic10"><p>T10</p></div>
  </div>
  <div>
    <h4>Customer's Styles</h4>
    <div class="c_all_pic1"><p>C01</p></div>
    <div class="c_all_pic2"><p>C02</p></div>
    <div class="c_all_pic3"><p>C03</p></div>
    <div class="c_all_pic4"><p>C04</p></div>
    <div class="c_all_pic5"><p>C05</p></div>
    <div class="c_all_pic6"><p>C06</p></div>
    <div class="c_all_pic7"><p>C07</p></div>
    <div class="c_all_pic8"><p>C08</p></div>
    <div class="c_all_pic9"><p>C09</p></div>
    <div class="c_all_pic10"><p>C10</p></div>
  </div>
</div>
</div>
<footer class="Annie_footer">
  <p>Phone: 07062978678</p>
  <p>Email: fabianannastecia9916@gmail.com</p>
  <p>Copyright © 2023 Chekwasy All rights reserved</p>
</footer>
<script type="text/javascript" src="../static/scripts/chekwasy_annie_script.js"></script>
</body>

</html>
