<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Chekwasy System&Inverter</title>
    <link rel="stylesheet" type="text/css" href="styles/common.css" />
    <link rel="stylesheet" type="text/css" href="styles/header.css" />
    <link rel="stylesheet" type="text/css" href="styles/footer.css" />
    <link rel='shortcut icon' href="images/icon.jpeg" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  </head>

  <body>
    <header title="Chekwasy Solar System&Inverter">
      <div></div>
      <h1>Chekwasy Solar System&Inverter</h1>
    </header>
    <div class="container">
      <div class="solar">
	<div class="solar_details">
	  <div class="solar_pic"></div>
	  <h5>Chekwasy Solar System and Inverter</h5>
	  <p>We offer wide range of choices for solar</p>
	  <p>gadgets and packages that will definitely suit</p>
	  <p>your need at an affordable price.</p>
	</div>
	<form action="http://chekwasy.tech/chekwasy_solar/order" id="chekwasy_solar_form" method="post">
	  <h5>Place an order by filling the details below</h5>
	  <div class="form_note"><p>Note: Full payment before delivery</p></div>
	  <div class="form_details">
	    <p>First name<p><input type="text" name="first_name" maxlength="40" required placeholder="Richy"></p></p>
	    <p>Last name<p><input type="text" name="last_name" maxlength="40" required placeholder="Chek"></p></p>
	    <p>Enter the amount of choice made<p><input type="number" name="amount" max="2100000" min="140000" required placeholder="140000"></p></p>
	    <p>Phone number<p><input type="text" name="phone" maxlength="11" required placeholder="08xxxxxxxx4"></p></p>
	    <p>Email<p><input type="email" name="email" required maxlength="100" placeholder="abc@chekwasy.tech"></p></p>
	    <p>State<p><input type="text" name="state" maxlength="30" required placeholder="Lagos"></p></p>
	    <p>City (Eg. Surulere)<p><input type="text" name="city" maxlength="30" required placeholder="Surulere"></p></p>
	    <p>Street<p><input type="text" name="street" maxlength="100"></p></p>
	    <p><p><textarea name="others" cols="30" rows="5" maxlength="200" placeholder="Add a note for delivery"></textarea></p></p>
	    <p><button type="submit">Order</button></p>
	  </div>
	</form>
      </div>
      <div class="solar_all">
	<div class="solar_all_pic1"></div>
	<div class="solar_all_pic2"></div>
	<div class="solar_all_pic3"></div>
	<div class="solar_all_pic4"></div>
	<div class="solar_all_pic5"></div>
	<div class="solar_all_pic6"></div>
	<div class="solar_all_pic7"></div>
	<div class="solar_all_pic8"></div>
	<div class="solar_all_pic9"></div>
	<div class="solar_all_pic10"></div>
      </div>
    </div>
    <footer>
      <p>Phone: 08168732525</p>
      <p>Email: richardchekwas@gmail.com</p>
      <p>Copyright © 2023 Chekwasy All rights reserved</p>
    </footer>
    <script type="text/javascript" src="scripts/chekwasy_solar_script.js"></script>
  </body>

  </html>
