<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Chekwasy</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/common.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/header.css" />
    <link rel="stylesheet" type="text/css" href="../static/styles/footer.css" />
    <link rel='shortcut icon' href="../static/images/icon.jpeg" />
  </head>

  <body>
    <header title="Chekwasy">
      <div></div>
      <h1>Chekwasy</h1>
    </header>
    <div class="container">
      <div class="farm_details">
	<div class="farm_pic"></a></div>
<h5>Chekwasy Farm</h5>
<p>Order for your fresh dry catfish.</p>
<p>Processed based on order</p>
<p>Click <a href="http://chekwasy.tech/chekwasy_farm/">here</a> to make an order</p>
</div>
<div class="buildex_details">
  <div class="buildex_pic"></div>
  <h5>Chekwasy Buildex</h5>
  <p>Make your request based on your proposed building</p>
  <p>or select from our options.</p>
  <p>Building range from flats, duplex, complex,</p>
  <p>to a good number of construction projects</p>
  <p>Click <a href="http://chekwasy.tech/chekwasy_buildex/">here</a> to make an enquiry</p>
</div>
<div class="solar_details">
  <div class="solar_pic"></div>
  <h5>Chekwasy Solar System and Inverter</h5>
  <p>We offer wide range of choices for solar</p>
  <p>gadgets and packages that will definitely suit</p>
  <p>your need at an affordable price.</p>
  <p>Click <a href="http://chekwasy.tech/chekwasy_solar/">here</a> to view more and make a choice</p>
</div>
<div class="annie_details">
  <div class="annie_pic"></div>
  <h5>Annie's Couture</h5>
  <p>A great brand with unique quality and cash friendly</p>
  <p>Check out our various categories of wears</p>
  <p>already made for customers and also trending</p>
  <p>styles you could rock</p>
  <p>Click <a href="http://chekwasy.tech/chekwasy_annie_couture/">here</a> to view more and make a choice</p>
</div>
</div>
<footer>
  <p>Phone: 08168732525</p>
  <p>Email: richardchekwas@gmail.com</p>
  <p>Copyright © 2023 Chekwasy All rights reserved</p>
</footer>
</body>

</html>
