{% extends "farm_base.html" %}

{% block title %}Chekwasy Farm{% endblock title %}

{% block hm_page %}<a class="nav-link active" aria-current="page" href="farm">Home</a>{% endblock hm_page %}

{% block p_page %}<a class="nav-link" href="farm_profile">Profile</a>{% endblock p_page %}

{% block o_page %}<a class="nav-link" href="farm_order">Order</a>{% endblock o_page %}

{% block l_page %}<button class="nav-link" id="Logout">Logout</button>{% endblock l_page %}


{% block template %}
  <main role="main" class="container">
    <div>
      <div class="row">
        <div class="card" style="width: 20rem;">
          <img src="../static/images/farm_pic.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Chekwasy Farm</h5>
            <p class="card-text">Order for your fresh dry catfish. Processed based on order and to be delivered within 7 days. Best for 3 months</p>
            <a href="farm_order.html" class="btn btn-primary">Place Order</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../static/images/farm_all_pic1.jpeg" class="card-img-top" alt="...">
          <div class="card-card">
            <img src="../static/images/farm_all_pic2.jpeg" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">Tasty Dried Catfish</h5>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="../static/images/farm_all_pic3.jpeg" class="card-img-top" alt="...">
          <div class="card-card">
            <img src="../static/images/farm_all2_pic1.jpeg" class="card-img-top" alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">Dried Under Hygine Condition</h5>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock template %}
