{% extends "farm_base.html" %}

{% block title %}Chekwasy Farm{% endblock title %}

{% block hm_page %}<a class="nav-link" href="farm">Home</a>{% endblock hm_page %}

{% block p_page %}<a class="nav-link" href="farm_profile">Profile</a>{% endblock p_page %}

{% block o_page %}<a class="nav-link" href="farm_order">Order</a>{% endblock o_page %}

{% block l_page %}<a class="nav-link active" href="farm_login">Login</a>{% endblock l_page %}

{% block r_page %}<a class="nav-link" href="farm_register">Register</a>{% endblock r_page %}

{% block template %}
  <div class="d-flex align-items-center justify-content-center py-4 bg-body-tertiary">
    <form id="Reset_pwd" method="put">
      <h1 class="h3 mb-3 fw-normal">Reset Password</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
        <label for="email">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="Password1" placeholder="New Password">
        <label for="Password1">New password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="Password2" placeholder="Re-enter New Password">
        <label for="Password2">Re-enter New password</label>
      </div>

      <div class="form-floating">
        <input type="text" required class="form-control" id="token" placeholder="Token">
        <label for="token">Token</label>
      </div>

      <button class="btn btn-primary w-100 py-2" type="submit">Reset Password</button>
    </form>
  </div>
{% endblock template %}